\TicketApp\.vs\*
TicketApp/.vs/TicketApp/v16/Server/sqlite3/storage.ide-wal
TicketApp/.vs/TicketApp/v16/.suo
TicketApp/.vs/TicketApp/v16/Server/sqlite3/db.lock
TicketApp/.vs/TicketApp/v16/Server/sqlite3/storage.ide
TicketApp/.vs/TicketApp/v16/Server/sqlite3/storage.ide-shm
